*.meta
*.vsconfig
/Library/
/Logs/
/Temp/
/UserSettings/


# ============= #
# Visual Studio #
# ============= #
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# ========== #
# Unity Cache #
# ========== #
unityGenerated/
*.bak
*.backup
*.orig
*.rej

# =========== #
# Builds      #
# =========== #
*.apk
*.unitypackage
*.aab
